.icon-bar {
  width: 100%;
  background-color: rgb(51, 50, 48);
  overflow: auto;
}

.icon-bar a {
  text-decoration: none;
  font: 200% "Script MT Bold", Helvetica, sans-serif;
  float: left;
  width: fit-content;
  text-align: center;
  padding: 1.5% 2.5% 1.5% 2.5%;
  transition: all 0.3s ease;
  color: rgba(212, 150, 5, 0.918);
}

.icon-bar a:hover {
  background-color: black;
}

h1 {
  font: 100px/1.5 "Script MT Bold", Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  margin-top: 5%;
  display: block;
  color: rgba(212, 150, 5, 0.918);
}

body {
  background: rgb(37, 36, 36);
  margin: 0;
  padding: 0;
}

section {
  text-align: center;
}

#textbox {
  height: 200px;
}


