.icon-bar {
  margin: 0px;
  width: 100%;
  background-color: rgb(231, 224, 224);
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px;
  transition: all 0.3s ease;
  color: rgb(179, 108, 108);
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: black;
}

h1 {
  font: 100px/1.5 "Script MT Bold", Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  margin-top: 5%;
  display: block;
  color: rgba(212, 150, 5, 0.918);
}

body {
  background: rgb(37, 36, 36);
}

section {
  text-align: center;
}
.textBox {
  background-color: white;
  padding: 30px 90% 30px 10%;
}
/*This might create problems btw*/
/*.Center {
  margin: 0 auto;
  width: inherit;
}
*/
