.icon-bar {
  width: 100%;
  background-color: rgb(51, 50, 48);
  overflow: auto;
}

.icon-bar a {
  text-decoration: none;
  font: 200% "Script MT Bold", Helvetica, sans-serif;
  float: left;
  width: fit-content;
  text-align: center;
  padding: 1.5% 2.5% 1.5% 2.5%;
  transition: all 0.2s ease;
  color: rgba(212, 150, 5, 0.918);
}

.icon-bar a:hover {
  background-color: black;
}

h1 {
  font: 1000% "Script MT Bold", Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  margin-top: 4.5%;
  display: block;
  color: rgba(212, 150, 5, 0.918);
}

body {
  background: rgb(37, 36, 36);
  margin: 0;
  padding: 0;
}

section {
  display: block;
  text-align: center;
}

.search {
  display: auto;
}

.search input[type=text] {
  float: left;
  height: 80px;
  font: 25px Helvetica, Arial;
  font-size: 30px;
  padding: 0px 10px 0px 10px;
  border: none;
}

.search button {
  font-size: 30px;
  float: left;
  background-color: rgba(212, 150, 5, 0.918);
  margin: 0px 5px 0px 5px;
  border: none;
  transition: all 0.1s linear;
}
.search button:hover {
  background-color: rgba(243, 182, 39, 0.918);
}
